*{
    font-family: 'Jost', sans-serif;
}

body{
    background-color: rgb(36, 35, 35);
    margin: 0;
    padding: 0;
}

.header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
}

.play-area{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.play-box{
    width: 50%;
    height: auto;
    border: 8px solid rgb(230, 86, 29);;
    margin-top: 3.5rem;
}

.play-box .text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.play-box p{
    font-size: 2rem;
    margin-top: 1rem;
}

.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    font-size: 1.5rem;
}

.divider{
    color: rgb(230, 86, 29);
}

.labels{
    display: flex;
    justify-content: space-around;
}

.player-label{
    font-weight: bolder;
    color: rgb(230, 86, 29);

}

.cpu-label{
    font-weight: bolder;
    color: rgb(230, 86, 29);

}

.buttons{
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.button{
    border: 2px solid rgb(230, 86, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 50px;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(230, 86, 29);
    color: black;
    
}

.reset{
    color: whitesmoke;
    border: 2px solid rgb(230, 86, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 50px;
}

.dummy{
    background-color: white;
    display: none;
    width: 7rem;
    height: 50px;
}

.reset:hover{
    cursor: pointer;
    background-color: rgb(230, 86, 29);
    color: black;
}

@media (max-width: 600px){
    .play-box p{
        font-size: 1rem;
        text-align: center;
    }
}